---
layout: default
title: 首页 - 我的文章
paginate_path: "page:num"
---

<h1> 首页 - 我的文章 </h1>

<hr />

<!-- 遍历分页后的文章 -->
<table>
{% for post in paginator.posts %}
  <tr><td>
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.excerpt }} 
  </div>
  </td></tr>
{% endfor %}
</table>
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
<hr />
 
 <input name="live2dBGM" value="https://m10.music.126.net/20181007014443/7a2cd96753c9f7e35cd0505d36df56fc/ymusic/1cb7/04f3/02b4/9699485be519c9a5d503741ad5b20e17.mp3" type="hidden">
 
<h2>其他页面</h2> <br>
 
 <a href="./RenPy_Docs_CHS/RenPy/">RenPy 中文文档（镜像站）</a><br>

<h3>Mayx 的网站</h3><br>
 
<a href="http://mayx.my-board.org/">Mayx的博客 - Powered by WordPress</a><br>

<a href="http://mayxwiki.my-style.in/">Mayx的Wiki</a><br>

<a href="http://mayxdisk.is-best.net/">Mayx的云盘</a><br>

<a href="http://mayxbbs.my-board.org/">Mayx的论坛 - Powered by phpBB</a><br>

<a href="http://mayx.poorwebmaster.com/">Mayx的论坛 - Powered by 6kbbs</a><br>

<a href="http://mayx.3vcm.net/">Mayx的论坛 - Powered by js10</a><br>
