---
layout: default
title: 首页 - 我的文章
paginate_path: "page:num"
---

<h1> 首页 - 我的文章 </h1>

<hr />

<!-- 遍历分页后的文章 -->
<table>
{% for post in paginator.posts %}
  <tr><td>
  <h2><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></h2>
  <p class="author">
    <span class="date">{{ post.date | date: "%-d %B %Y" }}</span>
    {% if site.leancloud.enable %} <span id="{{ post.url }}" class="leancloud_visitors" data-flag-title="{{ post.title }}"> <span class="post-meta-divider">|</span> <span class="post-meta-item-text"> Hits: </span> <span class="leancloud-visitors-count"></span> </span> {% endif %}
  </p>
  <div class="content">
    {{ post.excerpt | strip_html | strip_newlines }} 
  </div>
  </td></tr>
{% endfor %}
</table>
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
<hr />
 
<h2>其他页面</h2>
 
 <a href="./RenPy_Docs_CHS/RenPy/">RenPy 中文文档（镜像站）</a><br>

 <a href="message.html">留言板</a><br>

<br>
<h3>Mayx 的网站</h3>
 
<a href="http://mayx.my-board.org/">Mayx的博客 - Powered by WordPress</a><br>

<a href="http://mayxwiki.my-style.in/">Mayx的Wiki</a><br>

<a href="http://mayxdisk.is-best.net/">Mayx的云盘</a><br>

<a href="http://mayxbbs.my-board.org/">Mayx的论坛 - Powered by phpBB</a><br>

<a href="http://mayx.poorwebmaster.com/">Mayx的论坛 - Powered by 6kbbs</a><br>

<a href="http://mayx.3vcm.net/">Mayx的论坛 - Powered by js10</a><br>
